# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage
.eslintcache

# Logs
*.log

# Byte-compiled / optimized / DLL files / Python Temporary Files
__pycache__/
*.py[cod]
*$py.class

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
package-lock.json
/build/bundle.js
/build/index.html
/build*
/build/*

# Editor/IDE
.vscode/
.idea
packages/api/etc/
